_libgcc_mutex
_openmp_mutex
_r-mutex
arpack
binutils_impl_linux-64
bioconductor-deseq2
bwidget
bzip2
c-ares
ca-certificates
cairo
curl
expat
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-conda-ecosystem
fonts-conda-forge
freetype
fribidi
gcc_impl_linux-64
geos
gettext
gfortran_impl_linux-64
glpk
gmp
graphite2
gsl
gxx_impl_linux-64
harfbuzz
icu
igraph
jpeg
kernel-headers_linux-64
keyutils
krb5
ld_impl_linux-64
leidenalg
lerc
libblas
libcblas
libcurl
libdeflate
libedit
libev
libffi
libgcc-devel_linux-64
libgcc-ng
libgfortran-ng
libgfortran5
libglib
libgomp
libhwloc
libiconv
liblapack
libnghttp2
libnsl
libopenblas
libpng
libsanitizer
libsqlite
libssh2
libstdcxx-devel_linux-64
libstdcxx-ng
libtiff
libuuid
libwebp-base
libxcb
libxml2
libzlib
make
metis
mpfr
ncurses
numpy
openssl
pandas
pandoc
pango
pcre2
pip
pixman
pthread-stubs
python
python-dateutil
python-igraph
python-tzdata
python_abi
pytz
r-abind
r-askpass
r-assertthat
r-backports
r-base
r-base64enc
r-bh
r-bit
r-bit64
r-bitops
r-blob
r-broom
r-bslib
r-cachem
r-callr
r-catools
r-cellranger
r-cli
r-clipr
r-cluster
r-codetools
r-colorspace
r-commonmark
r-conflicted
r-cowplot
r-cpp11
r-crayon
r-crosstalk
r-curl
r-data.table
r-dbi
r-dbplyr
r-deldir
r-digest
r-dplyr
r-dqrng
r-dtplyr
r-ellipsis
r-evaluate
r-fansi
r-farver
r-fastmap
r-fitdistrplus
r-fnn
r-fontawesome
r-forcats
r-fs
r-future
r-future.apply
r-gargle
r-generics
r-ggplot2
r-ggrepel
r-ggridges
r-globals
r-glue
r-goftest
r-googledrive
r-googlesheets4
r-gplots
r-gridextra
r-gtable
r-gtools
r-haven
r-here
r-hexbin
r-highr
r-hms
r-htmltools
r-htmlwidgets
r-httpuv
r-httr
r-ica
r-ids
r-igraph
r-irlba
r-isoband
r-jquerylib
r-jsonlite
r-kernsmooth
r-knitr
r-labeling
r-later
r-lattice
r-lazyeval
r-leiden
r-lifecycle
r-listenv
r-lmtest
r-lsei
r-lubridate
r-magrittr
r-mass
r-matrix
r-matrixstats
r-memoise
r-mgcv
r-mime
r-miniui
r-modelr
r-munsell
r-nlme
r-npsurv
r-openssl
r-parallelly
r-patchwork
r-pbapply
r-pillar
r-pkgconfig
r-plotly
r-plyr
r-png
r-polyclip
r-prettyunits
r-processx
r-progress
r-progressr
r-promises
r-ps
r-purrr
r-r6
r-ragg
r-rann
r-rappdirs
r-rcolorbrewer
r-rcpp
r-rcppannoy
r-rcpparmadillo
r-rcppeigen
r-rcppparallel
r-rcppprogress
r-rcpptoml
r-readr
r-readxl
r-rematch
r-rematch2
r-reprex
r-reshape2
r-reticulate
r-rgeos
r-rlang
r-rmarkdown
r-rocr
r-rprojroot
r-rspectra
r-rstudioapi
r-rtsne
r-rvest
r-sass
r-scales
r-scattermore
r-sctransform
r-selectr
r-seurat
r-seuratobject
r-shiny
r-sitmo
r-sourcetools
r-sp
r-spatstat.data
r-spatstat.explore
r-spatstat.geom
r-spatstat.random
r-spatstat.sparse
r-spatstat.utils
r-stringi
r-stringr
r-survival
r-sys
r-systemfonts
r-tensor
r-textshaping
r-tibble
r-tidyr
r-tidyselect
r-tidyverse
r-timechange
r-tinytex
r-tzdb
r-utf8
r-uuid
r-uwot
r-vctrs
r-viridislite
r-vroom
r-withr
r-xfun
r-xml2
r-xtable
r-yaml
r-zoo
readline
sed
setuptools
six
suitesparse
sysroot_linux-64
tbb
texttable
tk
tktable
tzdata
wheel
xorg-kbproto
xorg-libice
xorg-libsm
xorg-libx11
xorg-libxau
xorg-libxdmcp
xorg-libxext
xorg-libxrender
xorg-libxt
xorg-renderproto
xorg-xextproto
xorg-xproto
xz
zlib
zstd
